#controlboard.compressed
    svg#controlbutton-svg-container(viewbox='0 0 200 150')
        svg(x="0" y="0" width='24' height="24" viewBox='0 0 24 24')
            g#open-close-arrow
                path(fill='#000000', d='M9.12,11.94V16.89H5.69V5.69H16.89V9.12H11.94L18.31,15.5L15.5,18.31L9.12,11.94Z')
        svg(x="15", y="60" width="50" height="50" viewbox="0 0 134 134")
            g#vertical-select-mode-button.selected
                circle.red-button-circle(r='66.146', cy='66.146', cx='66.146')
                circle.green-button-circle(r='66.146', cy='66.146', cx='66.146')
                path(stroke='#71b9cf', stroke-width='6.11', d='M60.083 15.461v99.328H47.091v-99.328zM85.608 15.544v99.328H72.616v-99.328z')
        svg(x="75" y="15" width="50" height="50" viewbox="0 0 134 134")
            g#horizontal-select-mode-button
                circle.red-button-circle(r='66.146' cy='66.146', cx='66.146')
                circle.green-button-circle(r='66.146' cy='66.146', cx='66.146')
                path(stroke='#71b9cf' stroke-width='6.11' d='M16.753 53.283h98.988v12.992H16.753z')
                path(d='M19.655 75.428h92.878v6.791H19.655z')
