#run-history-section
    width: 100%
    margin: 0
    padding: 0
    overflow-x scroll
    table
        margin: 20px
        box-sizing border-box
        background-color #4B088A
        color #FE9A2E
        td
            padding: 10px
            border solid #FE9A2E
            cursor pointer
        td:active
            position relative
            top 3px
        .actives
            background-color: #478a08
        .chosen
            background-color:  #87ca48
            border-color: red
            color red