extends ../../pug-head/html-document.pug
block body
    include ../svgiconmodule/svgicons.pug
    include ../pageheadermodule/pageheader.pug
    include ../maincontentmodule/maincontent.pug
    include ../controlboardmodule/controlboard.pug
    include ../messageboxmodule/messagebox.pug