#messagebox
    transition transform 0.3s
    padding: 12px
    position: fixed
    bottom 0 
    left 50%
    transform translate(-50%, 102%)

#messagebox.success-msg
    background-color #5cb85c
    transform translate(-50%, 0)

#messagebox.info-msg
    background-color: #6666
    transform translate(-50%, 0)

#messagebox.warning-msg
    background-color: 	#ff9966
    transform translate(-50%, 0)

#messagebox.error-msg
    background-color: #E0202F
    transform translate(-50%, 0)

