#maincontent
    #program-version-table-section.top-section
        include ../programversiontablemodule/programversiontable.pug
    
    #run-history-section.top-section
        include ../runhistorymodule/runhistory.pug
    .footer
    #edit-run-label-section.top-section
        label(for="edit-run-label-input") Run Label:
        input#edit-run-label-input(type="text")
        .h-spacer

    #run-timestamp-section.top-section
        label#run-timestamp-label Zeitpunkt:
        label#run-timestamp XX:XX
        .h-spacer


    .footer 
    #pushnplay-button
   
    #activate-button-section.top-section
        label#being-active-indicator 
        button#set-active-button -> Set Active!#
        button#clone-program-button -> Clone Program!
        .h-spacer


    #edit-version-label-section.top-section
        label(for="edit-version-label-input") Version Label:
        input#edit-version-label-input(type="text")
        .h-spacer


    #duration-section.top-section
        label(for="duration-input") Dauer des Programms:
        input#duration-input(type="number" step="100")
        .unit ms
        .h-spacer

    .footer
    #program-data-container
        include ../dynamiccontentmodule/dynamiccontent.pug
        #static-background
            h1#agression-header.header Agression (K체hlintensit채t)
            #agression-space
            h1#pte1-header.header PTE1 (Linke Schl채fe)
            #pte1-space.pte-space
                svg#pte1-svg-container(preserveAspectRatio="none" viewBox="0 0 1000 1000")
            h1#pte23-header.header PTE2-PTE3 (Stirn)
            #pte23-space.pte-space
                svg#pte23-svg-container(preserveAspectRatio="none" viewBox="0 0 1000 1000")
            h1#pte4-header.header PTE4 (Rechtes Schl채fe)
            #pte4-space.pte-space
                svg#pte4-svg-container(preserveAspectRatio="none" viewBox="0 0 1000 1000")
            h1#vib1-header.header VIB1 (Linker Vibrator)
            #vib1-space.vib-space
            h1#vib2-header.header VIB2 (Rechter Vibrator)
            #vib2-space.vib-space
            
    .footer
    #buffer-table-container
    