#header
    #left-block
        img.to-right(src="/img/aurox-logo.jpg", alt="Aurox")
        p Program Editor
    #right-block
        label#password-label.to-right(for="password") Passwort:
        input(type="password" id="password")
        button#discard-button discard
        button#save-button save
        button#login-button Login