#header
    #left-block
        img.to-right(src="/img/aurox-logo.jpg", alt="Aurox")
        p Program Manager
    #right-block
        label#password-label.to-right(for="password") Passwort:
        input(type="password" id="password")
        button.pressbutton#discard-button discard
        button.pressbutton#save-button save
        button.pressbutton#login-button Login